{% extends "base.html" %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>{% block title %} Add Student {% endblock %}</title>
</head>
<body>

{% block content %}

    <div class="w3-row ">
        <div class="header">
            <h1>{% if object %} Perditeso Studente {% else %}Regjistro Studente{% endif %}</h1>
        </div>
    </div>
    <br><br>
    <div class="w3-content w3-left-align">
        <div class=" w3-section">
            <div class="w3-container">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.student_name.label_tag }}
                            {{ form.student_name }}
                            {{ form.student_name.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.student_id.label_tag }}
                            {{ form.student_id }}
                            {{ form.student_id.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.date.label_tag }}
                            {{ form.date }}
                            {{ form.date.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.class_time.label_tag }}
                            {{ form.class_time }}
                            {{ form.class_time.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.teacher.label_tag }}
                            {{ form.teacher }}
                            {{ form.teacher.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.class_number.label_tag }}
                            {{ form.class_number }}
                            {{ form.class_number.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m12">
                            {{ form.status.label_tag }}
                            {{ form.status }}
                            {{ form.status.errors }}
                        </div>
                    </div>
                    <br>
                    <div style="margin-left: 16px;margin-right: 16px;">
                        <button type="submit" class="w3-button w3-blue w3-round w3-right " style="width: 12%; height: 45px;">{% if object %} Përditëso {% else %} Krijo {% endif %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

</body>
</html>


