{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="../static/css/bar.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
    <title>{% block title %}Class{% endblock %}</title>
</head>
<body>
<div class="w3-row">
    <div class="header">
        <div class="w3-bar" style="height: 65px">
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>
        </div>
        <div class="w3-sidebar">
            <ul>
                <li><img src="/static/img/lika.png" alt="Avatar"></li>
                <li><a href="/">Dashboard</a></li>
                <li><a href="{% url 'student:class' %}">Student</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="w3-center">
    <div class="w3-container">
        <a class="btn w3-black" href="{% url 'student:class' %}">Class Table</a>
        <a class="btn w3-blue-grey " href="#">Class Card</a>
    </div>
</div>

<br><br>
<div style="margin-left: 10%">
    <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">Class</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0">#</th>
                            <th class="border-0">Image</th>
                            <th class="border-0">Student Name</th>
                            <th class="border-0">Student Id</th>
                            <th class="border-0">Subject</th>
                            <th class="border-0">Date</th>
                            <th class="border-0">Class Time</th>
                            <th class="border-0">Teacher</th>
                            <th class="border-0">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="m-r-10"><img src="{% static 'svg/student .svg' %}" alt="user" class="rounded" width="45" style="width: 30px"></div>
                            </td>
                            <td>lika</td>
                            <td>0001</td>
                            <td>Mathematics</td>
                            <td>27-08-2018</td>
                            <td>01:22:12</td>
                            <td>Shpetim Lila</td>
                            <td><span class="badge-dot badge-brand mr-1"></span>Present</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="m-r-10"><img src="{% static 'svg/student .svg' %}" alt="user" class="rounded" width="45" style="width: 30px"></div>
                            </td>
                           <td>jlika</td>
                            <td>0001</td>
                            <td>Mathematics</td>
                            <td>27-08-2018</td>
                            <td>01:22:12</td>
                            <td>Shpetim Lila</td>
                            <td><span class="badge-dot badge-brand mr-1"></span>Present</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div class="m-r-10"><img src="{% static 'svg/student .svg' %}" alt="user" class="rounded" width="45" style="width: 30px"></div>
                            </td>
                           <td>slika</td>
                            <td>0001</td>
                            <td>Mathematics</td>
                            <td>27-08-2018</td>
                            <td>01:22:12</td>
                            <td>Shpetim Lila</td>
                            <td><span class="badge-dot badge-brand mr-1"></span>Late</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div class="m-r-10"><img src="{% static 'svg/student .svg' %}" alt="user" class="rounded" width="45" style="width: 30px"></div>
                            </td>
                            <td>mlika</td>
                            <td>0001</td>
                            <td>Mathematics</td>
                            <td>27-08-2018</td>
                            <td>01:22:12</td>
                            <td>Shpetim Lila</td>
                            <td><span class="badge-dot badge-brand mr-1"></span>Absent</td>
                        </tr>
                        <tr>
                            <td colspan="9"><a href="#" class="btn  float-right">View Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

{# <span class="icon"></span>#}
{#             <img src="{% static 'svg/delete1.svg' %}" alt="">#}

{#<i class="fa fa-address-card-o" style="float:right;" aria-hidden="true"></i>#}


{#<div class="box">#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Instagram</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Twitter</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Facebook</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Pinterest</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Google</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Github</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}