{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_card.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Students</title>
</head>
<body>
<main>
    <div class="card">
        <img src="" alt="student" style="width:100%">
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p>
            <button>Contact</button>
        </p>
    </div>
</main>

</body>


































{##}
{#    <link rel="stylesheet" type="text/css" href="/static/css/bar.css"/>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="{% static 'css/w3.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/bar.css' %}">#}
{#    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.1.min.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <script src="{% static 'js/bar.js' %}"></script>#}
{#    <script src="{% static 'js/javascript.js' %}"></script>#}
{#    <title>{% block title %}Class{% endblock %}</title>#}
{#</head>#}
{#<body>#}
{#<div class="box">#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Instagram</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Twitter</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Facebook</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Pinterest</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Google</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Github</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
{##}
{# <span class="icon"></span>#}
{#             <img src="{% static 'svg/delete1.svg' %}" alt="">#}
{##}
{#<i class="fa fa-address-card-o" style="float:right;" aria-hidden="true"></i>#}
{##}
{##}
