{% extends "base.html" %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>{% block title %} Uptade Profile {% endblock %}</title>
</head>
<body>

{% block content %}

    <div class="w3-row ">
        <div class="header">
            <h1>Perditeso Studente</h1>
        </div>
    </div>
    <br><br>
    <div class="w3-content w3-left-align">
        <div class=" w3-section">
            <div class="w3-container">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.student_name.label_tag }}
                            {{ form.student_name }}
                            {{ form.student_name.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.student_id.label_tag }}
                            {{ form.student_id }}
                            {{ form.student_id.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.father_name.label_tag }}
                            {{ form.father_name }}
                            {{ form.father_name.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.birthday.label_tag }}
                            {{ form.birthday }}
                            {{ form.birthday.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.birthplace.label_tag }}
                            {{ form.birthplace }}
                            {{ form.birthplace.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="w3-row w3-row-padding w3-section">
                        <div class="w3-col m6">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                            {{ form.address.errors }}
                        </div>
                        <div class="w3-col m6">
                            {{ form.class_number.label_tag }}
                            {{ form.class_number }}
                            {{ form.class_number.errors }}
                        </div>
                    </div>
                    <br>
                    <div style="margin-left: 16px;margin-right: 16px;">
                        <button type="submit" class="w3-button w3-blue w3-round w3-right " style="width: 12%; height: 45px;">Përditëso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

</body>
</html>


