{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Login</title>
</head>
<body>
<div class="w3-main">
    <div class="header">
        <div class="middle">
            <div class="w3-container">
                <div class="w3-display-middle">
                    <div class="w3-display-right">
                        <form action="" method="post">
                            <fieldset class="clearfix">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <br>
                                <button class="w3-button w3-blue" type="submit">Login</button>
                                <fieldset class="clearfix">
                                </fieldset>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="vl">
        </div>
        <div class="w3-display-right">
            <div class=" w3-display-left">
                <div class="w3-container">
                    <div class="w3-display-left">
                        <img src="/static/img/lika.png" class="logo" alt="lika">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footer">
            <hr/>
            <p><a href="{%  url 'signup' %}"> Signup here! </a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>


