{% load staticfiles %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <title>Signup</title>
</head>
<body>
<br><br><br>
<h1>SIGNUP</h1>
<br><br><br>

<div id="signup" class="w3-row w3-row-padding w3-card">
    <div>
        <form autocomplete="off" action="{% url 'signup-save' %}" method="POST">
            {% csrf_token %}
            <br>
            <div class="w3-row-padding">
                <div class="w3-col m6">
                    <label for="first_name">First Name:</label>
                    <input id="first_name" name="first_name" type="text" class="validate w3-input form-control">
                </div>
                <div class="w3-col m6">
                    <label for="last_name">Last Name:</label>
                    <input id="last_name" name="last_name" type="text" class="validate w3-input form-control">
                </div>
            </div>
            <div class="w3-row-padding">
                <br>
                <div class="w3-col m6">
                    <label for="teacher_id">Teacher ID:</label>
                    <input id="teacher_id" name="username" type="text" class="validate w3-input form-control">
                </div>
                <div class="w3-col m6">
                    <label for="subject">Subject:</label>
                    <label>
                        <select class="w3-input" style="width: 100%" name="subject">
                            <option value="select" disabled selected>select</option>
                            <option value="10">Mathematics</option>
                            <option value="11">Algebra</option>
                            <option value="12">Geometry</option>
                            <option value="13">Science</option>
                            <option value="14">Biology</option>
                            <option value="15">Physics</option>
                            <option value="16">Chemistry</option>
                            <option value="17">Geography</option>
                            <option value="18">History</option>
                            <option value="19">Citizenship</option>
                            <option value="20">Physical Education(P.E)</option>
                            <option value="21">Business Studies</option>
                            <option value="22">Economycs</option>
                            <option value="23">Home Economycs</option>
                            <option value="24">Art</option>
                            <option value="25">Music</option>
                            <option value="26">Techology</option>
                            <option value="27">Informatics</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="w3-row-padding">
                <br>
                <div class="w3-col m6">
                    <label for="year">Class:</label>
                    <label>
                        <select class="w3-input" style="width: 100%" name="class_name">
                            <option value="select" disabled selected>select</option>
                            <option value="10">Class 10</option>
                            <option value="11">Class 11</option>
                            <option value="12">Class 12</option>
                        </select>
                    </label>
                </div>
                <div class="w3-col m6">
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" class="validate w3-input form-control">
                </div>
            </div>
            <div class="w3-row-padding">
                <br>
                <div class="w3-col m6">
                    <label for="password">Password:</label>
                    <input id="password" name="password1" type="password" class="validate w3-input form-control">
                </div>
                <div class="w3-col m6">
                    <label for="password1">Confirm Password:</label>
                    <input id="password1" name="password2" type="password" class="validate w3-input form-control">
                </div>
            </div>
            <hr>
            <div>
                <button class="w3-button w3-blue" type="submit">Register</button>
            </div>
        </form>
        <br>
    </div>


    <br>
</div>
</body>
</html>
