
.w3-button {
    border: none;
    display: inline-block;
    padding: 10px;
    float: right;
    vertical-align: center;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: match-parent;
    cursor: pointer;
    white-space: nowrap;
    height: 65px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3c4c67;
    border: 1px solid #555;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;


}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

li {
    text-align: left;
    border-bottom: 1px solid #29877e;


}

li:last-child {
    border-bottom: none;

}

li a.active {
    text-decoration-color: #4CAF50;
    color: #4CAF50;
}

li a:hover:not(.active) {
    background-color: #139eff;
    color: white;
}

.w3-bar {
    background-color: #3c4c67;
}

.w3-bar a {
    color: #fff;
}

.w3-sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.w3-card {
    width: 140%;
    position: relative;
    right: 150px;
    text-align: left;
    height: 10%;
}

img {
    width: 70%;
    height: 45px;
    position: relative;
    left: 25px;
    bottom: 10px;

}


.callout {
    position: relative;
    bottom: 100px;
    left: 50%;
    margin-left: 20px;
    max-width: 300px;
}

.callout-header {
    padding: 25px 75px;
    background: #00bff3;
    font-size: 30px;
    color: white;
}

.callout-container {
    padding: 15px;
    background-color: #e7f3fe;
    color: black
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.closebtn:hover {
    color: lightgrey;
}

.w3-collapse {
    background-color: #3c4c67;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


.w3-collapse:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


[class*=icon] {
    width: 22px;
    height: 22px;
    display: inline-block;
}

.icon {
    background: url("/static/svg/student_register.svg") 0 0;
}

.w3-main {
    margin-left: 160px;
    padding: 0 10px;
}


* {
    box-sizing: border-box;
}


/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

main {
    padding: 0 1%;
    margin-left: 190px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

