
/* CONTAINER */
.container {
    max-width: 80%;
    min-width: 300px;
    margin: 0 auto 0 auto;
    background-color: #f2f2f2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-height: 400px;
    font-size: 14px;
    padding: 50px 50px;
}

/* TRIGGER */
.quickViewTrigger {
    cursor: pointer;
    color: #0593C9;
}

.quickViewTrigger:hover {
    color: #F00;
}

/* MODAL */
.quickViewContainer {
    width: 550px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #FFF;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);
    display: none;
}

.quickViewTitle {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 0 0;
    color: #0593C9;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.05);
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    vertical-align: middle;
    box-sizing: border-box;
}

.quickViewBody {
    text-align: left;
    padding: 10px 20px 10px 10px;
    color: #4D4D4D;
    font-size: 13px;
    line-height: 18px;
    vertical-align: middle;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

/* MODAL CLOSE */
#quickViewCloseButton {
    box-sizing: border-box;
    background: #0593C9;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 200;
    cursor: pointer;
    margin: 4px 10px 0 0;
}

/* ---- MODAL CLOSE X STATIC----*/
#quickViewCloseButton:before {
    background: #F2F2F2;
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 14px;
    transform: rotate(45deg);
    border-radius: 1px;
    right: 5px;
    -webkit-animation: in1 .3s;
}

#quickViewCloseButton span {
    background: #F2F2F2;
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 14px;
    transform: rotate(135deg);
    border-radius: 1px;
    right: 5px;
    -webkit-animation: in2 .3s;
}

/* ---- MODAL CLOSE X HOVER ----*/
#quickViewCloseButton:hover:before {
    background: #4D4D4D;
    -webkit-animation: out1 .3s;
}

#quickViewCloseButton:hover span {
    background: #4D4D4D;
    -webkit-animation: out2 .3s;
}

/* ---- MODAL CLOSE X ANIMATION ----*/
#quickViewCloseButton:hover:before span {
    -webkit-transition: none .3s ease 0s;
    transition: none .3s ease 0s;
    -webkit-transition-property: transform, top, bottom, right, opacity;
    transition-property: transform, top, bottom, right, opacity;
}

@-webkit-keyframes in1 {
    from {
        -webkit-transform: rotate(45deg);
    }
    to {
        -webkit-transform: rotate(225deg);
    }
}

@-webkit-keyframes in2 {
    from {
        -webkit-transform: rotate(135deg);
    }
    to {
        -webkit-transform: rotate(315deg);
    }
}

@-webkit-keyframes out1 {
    from {
        -webkit-transform: rotate(225deg);
    }
    to {
        -webkit-transform: rotate(45deg);
    }
}

@-webkit-keyframes out2 {
    from {
        -webkit-transform: rotate(315deg);
    }
    to {
        -webkit-transform: rotate(135deg);
    }
}

