/*body {*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*min-height: 100vh;*/
/*background: #27ae60;*/
/*font-family: "proxima-nova", "Source Sans Pro", sans-serif;*/
/*font-size: 1em;*/
/*letter-spacing: 0.1px;*/
/*color: #32465a;*/
/*text-rendering: optimizeLegibility;*/
/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);*/
/*-webkit-font-smoothing: antialiased;*/
/*}*/

/*#frame {*/
/*width: 95%;*/
/*min-width: 360px;*/
/*max-width: 1000px;*/
/*height: 92vh;*/
/*min-height: 300px;*/
/*max-height: 720px;*/
/*background: #E6EAEA;*/
/*}*/

/*@media screen and (max-width: 360px) {*/
/*#frame {*/
/*width: 100%;*/
/*height: 100vh;*/
/*}*/
/*}*/

/*#frame #sidepanel {*/
/*float: left;*/
/*min-width: 280px;*/
/*max-width: 340px;*/
/*width: 40%;*/
/*height: 100%;*/
/*background: #2c3e50;*/
/*color: #f5f5f5;*/
/*overflow: hidden;*/
/*position: relative;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel {*/
/*width: 58px;*/
/*min-width: 58px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile {*/
/*width: 80%;*/
/*margin: 25px auto;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile {*/
/*width: 100%;*/
/*margin: 0 auto;*/
/*padding: 5px 0 0 0;*/
/*background: #32465a;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile.expanded .wrap {*/
/*height: 210px;*/
/*line-height: initial;*/
/*}*/

/*#frame #sidepanel #profile.expanded .wrap p {*/
/*margin-top: 20px;*/
/*}*/

/*#frame #sidepanel #profile.expanded .wrap i.expand-button {*/
/*-moz-transform: scaleY(-1);*/
/*-o-transform: scaleY(-1);*/
/*-webkit-transform: scaleY(-1);*/
/*transform: scaleY(-1);*/
/*filter: FlipH;*/
/*-ms-filter: "FlipH";*/
/*}*/

/*#frame #sidepanel #profile .wrap {*/
/*height: 60px;*/
/*line-height: 60px;*/
/*overflow: hidden;*/
/*-moz-transition: 0.3s height ease;*/
/*-o-transition: 0.3s height ease;*/
/*-webkit-transition: 0.3s height ease;*/
/*transition: 0.3s height ease;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap {*/
/*height: 55px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap img {*/
/*width: 50px;*/
/*border-radius: 50%;*/
/*padding: 3px;*/
/*border: 2px solid #e74c3c;*/
/*height: auto;*/
/*float: left;*/
/*cursor: pointer;*/
/*-moz-transition: 0.3s border ease;*/
/*-o-transition: 0.3s border ease;*/
/*-webkit-transition: 0.3s border ease;*/
/*transition: 0.3s border ease;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap img {*/
/*width: 40px;*/
/*margin-left: 4px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap img.online {*/
/*border: 2px solid #2ecc71;*/
/*}*/

/*#frame #sidepanel #profile .wrap img.away {*/
/*border: 2px solid #f1c40f;*/
/*}*/

/*#frame #sidepanel #profile .wrap img.busy {*/
/*border: 2px solid #e74c3c;*/
/*}*/

/*#frame #sidepanel #profile .wrap img.offline {*/
/*border: 2px solid #95a5a6;*/
/*}*/

/*#frame #sidepanel #profile .wrap p {*/
/*float: left;*/
/*margin-left: 15px;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap p {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap i.expand-button {*/
/*float: right;*/
/*margin-top: 23px;*/
/*font-size: 0.8em;*/
/*cursor: pointer;*/
/*color: #435f7a;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap i.expand-button {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options {*/
/*position: absolute;*/
/*opacity: 0;*/
/*visibility: hidden;*/
/*width: 150px;*/
/*margin: 70px 0 0 0;*/
/*border-radius: 6px;*/
/*z-index: 99;*/
/*line-height: initial;*/
/*background: #435f7a;*/
/*-moz-transition: 0.3s all ease;*/
/*-o-transition: 0.3s all ease;*/
/*-webkit-transition: 0.3s all ease;*/
/*transition: 0.3s all ease;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options {*/
/*width: 58px;*/
/*margin-top: 57px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options.active {*/
/*opacity: 1;*/
/*visibility: visible;*/
/*margin: 75px 0 0 0;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options.active {*/
/*margin-top: 62px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options:before {*/
/*content: '';*/
/*position: absolute;*/
/*width: 0;*/
/*height: 0;*/
/*border-left: 6px solid transparent;*/
/*border-right: 6px solid transparent;*/
/*border-bottom: 8px solid #435f7a;*/
/*margin: -8px 0 0 24px;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options:before {*/
/*margin-left: 23px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul {*/
/*overflow: hidden;*/
/*border-radius: 6px;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li {*/
/*padding: 15px 0 30px 18px;*/
/*display: block;*/
/*cursor: pointer;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options ul li {*/
/*padding: 15px 0 35px 22px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li:hover {*/
/*background: #496886;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {*/
/*position: absolute;*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 50%;*/
/*margin: 5px 0 0 0;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {*/
/*width: 14px;*/
/*height: 14px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {*/
/*content: '';*/
/*position: absolute;*/
/*width: 14px;*/
/*height: 14px;*/
/*margin: -3px 0 0 -3px;*/
/*background: transparent;*/
/*border-radius: 50%;*/
/*z-index: 0;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {*/
/*height: 18px;*/
/*width: 18px;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li p {*/
/*padding-left: 12px;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #profile .wrap #status-options ul li p {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {*/
/*background: #2ecc71;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {*/
/*border: 1px solid #2ecc71;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {*/
/*background: #f1c40f;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {*/
/*border: 1px solid #f1c40f;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {*/
/*background: #e74c3c;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {*/
/*border: 1px solid #e74c3c;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {*/
/*background: #95a5a6;*/
/*}*/

/*#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {*/
/*border: 1px solid #95a5a6;*/
/*}*/

/*#frame #sidepanel #profile .wrap #expanded {*/
/*padding: 100px 0 0 0;*/
/*display: block;*/
/*line-height: initial !important;*/
/*}*/

/*#frame #sidepanel #profile .wrap #expanded label {*/
/*float: left;*/
/*clear: both;*/
/*margin: 0 8px 5px 0;*/
/*padding: 5px 0;*/
/*}*/

/*#frame #sidepanel #profile .wrap #expanded input {*/
/*border: none;*/
/*margin-bottom: 6px;*/
/*background: #32465a;*/
/*border-radius: 3px;*/
/*color: #f5f5f5;*/
/*padding: 7px;*/
/*width: calc(100% - 43px);*/
/*}*/

/*#frame #sidepanel #profile .wrap #expanded input:focus {*/
/*outline: none;*/
/*background: #435f7a;*/
/*}*/

/*#frame #sidepanel #search {*/
/*border-top: 1px solid #32465a;*/
/*border-bottom: 1px solid #32465a;*/
/*font-weight: 300;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #search {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #search label {*/
/*position: absolute;*/
/*margin: 10px 0 0 20px;*/
/*}*/

/*#frame #sidepanel #search input {*/
/*font-family: "proxima-nova", "Source Sans Pro", sans-serif;*/
/*padding: 10px 0 10px 46px;*/
/*width: calc(100% - 25px);*/
/*border: none;*/
/*background: #32465a;*/
/*color: #f5f5f5;*/
/*}*/

/*#frame #sidepanel #search input:focus {*/
/*outline: none;*/
/*background: #435f7a;*/
/*}*/

/*#frame #sidepanel #search input::-webkit-input-placeholder {*/
/*color: #f5f5f5;*/
/*}*/

/*#frame #sidepanel #search input::-moz-placeholder {*/
/*color: #f5f5f5;*/
/*}*/

/*#frame #sidepanel #search input:-ms-input-placeholder {*/
/*color: #f5f5f5;*/
/*}*/

/*#frame #sidepanel #search input:-moz-placeholder {*/
/*color: #f5f5f5;*/
/*}*/

/*#frame #sidepanel #contacts {*/
/*height: calc(100% - 177px);*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #contacts {*/
/*height: calc(100% - 149px);*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*#frame #sidepanel #contacts::-webkit-scrollbar {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #contacts.expanded {*/
/*height: calc(100% - 334px);*/
/*}*/

/*#frame #sidepanel #contacts::-webkit-scrollbar {*/
/*width: 8px;*/
/*background: #2c3e50;*/
/*}*/

/*#frame #sidepanel #contacts::-webkit-scrollbar-thumb {*/
/*background-color: #243140;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact {*/
/*position: relative;*/
/*padding: 10px 0 15px 0;*/
/*font-size: 0.9em;*/
/*cursor: pointer;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #contacts ul li.contact {*/
/*padding: 6px 0 46px 8px;*/
/*}*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact:hover {*/
/*background: #32465a;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact.active {*/
/*background: #32465a;*/
/*border-right: 5px solid #435f7a;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact.active span.contact-status {*/
/*border: 2px solid #32465a !important;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap {*/
/*width: 88%;*/
/*margin: 0 auto;*/
/*position: relative;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #contacts ul li.contact .wrap {*/
/*width: 100%;*/
/*}*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap span {*/
/*position: absolute;*/
/*left: 0;*/
/*margin: -2px 0 0 -2px;*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 50%;*/
/*border: 2px solid #2c3e50;*/
/*background: #95a5a6;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap span.online {*/
/*background: #2ecc71;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap span.away {*/
/*background: #f1c40f;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap span.busy {*/
/*background: #e74c3c;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap img {*/
/*width: 40px;*/
/*border-radius: 50%;*/
/*float: left;*/
/*margin-right: 10px;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #contacts ul li.contact .wrap img {*/
/*margin-right: 0px;*/
/*}*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap .meta {*/
/*padding: 5px 0 0 0;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #contacts ul li.contact .wrap .meta {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap .meta .name {*/
/*font-weight: 600;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {*/
/*margin: 5px 0 0 0;*/
/*padding: 0 0 1px;*/
/*font-weight: 400;*/
/*white-space: nowrap;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*-moz-transition: 1s all ease;*/
/*-o-transition: 1s all ease;*/
/*-webkit-transition: 1s all ease;*/
/*transition: 1s all ease;*/
/*}*/

/*#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {*/
/*position: initial;*/
/*border-radius: initial;*/
/*background: none;*/
/*border: none;*/
/*padding: 0 2px 0 0;*/
/*margin: 0 0 0 1px;*/
/*opacity: .5;*/
/*}*/

/*#frame #sidepanel #bottom-bar {*/
/*position: absolute;*/
/*width: 100%;*/
/*bottom: 0;*/
/*}*/

/*#frame #sidepanel #bottom-bar button {*/
/*float: left;*/
/*border: none;*/
/*width: 50%;*/
/*padding: 10px 0;*/
/*background: #32465a;*/
/*color: #f5f5f5;*/
/*cursor: pointer;*/
/*font-size: 0.85em;*/
/*font-family: "proxima-nova", "Source Sans Pro", sans-serif;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #bottom-bar button {*/
/*float: none;*/
/*width: 100%;*/
/*padding: 15px 0;*/
/*}*/
/*}*/

/*#frame #sidepanel #bottom-bar button:focus {*/
/*outline: none;*/
/*}*/

/*#frame #sidepanel #bottom-bar button:nth-child(1) {*/
/*border-right: 1px solid #2c3e50;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #bottom-bar button:nth-child(1) {*/
/*border-right: none;*/
/*border-bottom: 1px solid #2c3e50;*/
/*}*/
/*}*/

/*#frame #sidepanel #bottom-bar button:hover {*/
/*background: #435f7a;*/
/*}*/

/*#frame #sidepanel #bottom-bar button i {*/
/*margin-right: 3px;*/
/*font-size: 1em;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #bottom-bar button i {*/
/*font-size: 1.3em;*/
/*}*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame #sidepanel #bottom-bar button span {*/
/*display: none;*/
/*}*/
/*}*/

/*#frame .content {*/
/*float: right;*/
/*width: 60%;*/
/*height: 100%;*/
/*overflow: hidden;*/
/*position: relative;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame .content {*/
/*width: calc(100% - 58px);*/
/*min-width: 300px !important;*/
/*}*/
/*}*/

/*@media screen and (min-width: 900px) {*/
/*#frame .content {*/
/*width: calc(100% - 340px);*/
/*}*/
/*}*/

/*#frame .content .contact-profile {*/
/*width: 100%;*/
/*height: 60px;*/
/*line-height: 60px;*/
/*background: #f5f5f5;*/
/*}*/

/*#frame .content .contact-profile img {*/
/*width: 40px;*/
/*border-radius: 50%;*/
/*float: left;*/
/*margin: 9px 12px 0 9px;*/
/*}*/

/*#frame .content .contact-profile p {*/
/*float: left;*/
/*}*/

/*#frame .content .contact-profile .social-media {*/
/*float: right;*/
/*}*/

/*#frame .content .contact-profile .social-media i {*/
/*margin-left: 14px;*/
/*cursor: pointer;*/
/*}*/

/*#frame .content .contact-profile .social-media i:nth-last-child(1) {*/
/*margin-right: 20px;*/
/*}*/

/*#frame .content .contact-profile .social-media i:hover {*/
/*color: #435f7a;*/
/*}*/

/*#frame .content .messages {*/
/*height: auto;*/
/*min-height: calc(100% - 93px);*/
/*max-height: calc(100% - 93px);*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame .content .messages {*/
/*max-height: calc(100% - 105px);*/
/*}*/
/*}*/

/*#frame .content .messages::-webkit-scrollbar {*/
/*width: 8px;*/
/*background: transparent;*/
/*}*/

/*#frame .content .messages::-webkit-scrollbar-thumb {*/
/*background-color: rgba(0, 0, 0, 0.3);*/
/*}*/

/*#frame .content .messages ul li {*/
/*display: inline-block;*/
/*clear: both;*/
/*float: left;*/
/*margin: 15px 15px 5px 15px;*/
/*width: calc(100% - 25px);*/
/*font-size: 0.9em;*/
/*}*/

/*#frame .content .messages ul li:nth-last-child(1) {*/
/*margin-bottom: 20px;*/
/*}*/

/*#frame .content .messages ul li.sent img {*/
/*margin: 6px 8px 0 0;*/
/*}*/

/*#frame .content .messages ul li.sent p {*/
/*background: #435f7a;*/
/*color: #f5f5f5;*/
/*}*/

/*#frame .content .messages ul li.replies img {*/
/*float: right;*/
/*margin: 6px 0 0 8px;*/
/*}*/

/*#frame .content .messages ul li.replies p {*/
/*background: #f5f5f5;*/
/*float: right;*/
/*}*/

/*#frame .content .messages ul li img {*/
/*width: 22px;*/
/*border-radius: 50%;*/
/*float: left;*/
/*}*/

/*#frame .content .messages ul li p {*/
/*display: inline-block;*/
/*padding: 10px 15px;*/
/*border-radius: 20px;*/
/*max-width: 205px;*/
/*line-height: 130%;*/
/*}*/

/*@media screen and (min-width: 735px) {*/
/*#frame .content .messages ul li p {*/
/*max-width: 300px;*/
/*}*/
/*}*/

/*#frame .content .message-input {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*z-index: 99;*/
/*}*/

/*#frame .content .message-input .wrap {*/
/*position: relative;*/
/*}*/

/*#frame .content .message-input .wrap input {*/
/*font-family: "proxima-nova", "Source Sans Pro", sans-serif;*/
/*float: left;*/
/*border: none;*/
/*width: calc(100% - 90px);*/
/*padding: 11px 32px 10px 8px;*/
/*font-size: 0.8em;*/
/*color: #32465a;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame .content .message-input .wrap input {*/
/*padding: 15px 32px 16px 8px;*/
/*}*/
/*}*/

/*#frame .content .message-input .wrap input:focus {*/
/*outline: none;*/
/*}*/

/*#frame .content .message-input .wrap .attachment {*/
/*position: absolute;*/
/*right: 60px;*/
/*z-index: 4;*/
/*margin-top: 10px;*/
/*font-size: 1.1em;*/
/*color: #435f7a;*/
/*opacity: .5;*/
/*cursor: pointer;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame .content .message-input .wrap .attachment {*/
/*margin-top: 17px;*/
/*right: 65px;*/
/*}*/
/*}*/

/*#frame .content .message-input .wrap .attachment:hover {*/
/*opacity: 1;*/
/*}*/

/*#frame .content .message-input .wrap button {*/
/*float: right;*/
/*border: none;*/
/*width: 50px;*/
/*padding: 12px 0;*/
/*cursor: pointer;*/
/*background: #32465a;*/
/*color: #f5f5f5;*/
/*}*/

/*@media screen and (max-width: 735px) {*/
/*#frame .content .message-input .wrap button {*/
/*padding: 16px 0;*/
/*}*/
/*}*/

/*#frame .content .message-input .wrap button:hover {*/
/*background: #435f7a;*/
/*}*/

/*#frame .content .message-input .wrap button:focus {*/
/*outline: none;*/
/*}*/


html,
body,
div,
span {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("http://shurl.esy.es/y") no-repeat fixed center;
    background-size: cover;
}

.fa-2x {
    font-size: 1.5em;
}

.app {
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
    padding: 0;
    margin: 0;
    height: 100%;
}

.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    top: -100%;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;

}


.heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

.heading-avatar {
    padding: 0;
    cursor: pointer;

}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.heading-name {
    padding: 0 !important;
    cursor: pointer;
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}

.heading-compose {
    padding: 0;
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.heading-dot {
    padding: 0;
    margin-left: 10px;
}

.heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
}

.sideBar-body:hover {
    background-color: #f2f2f2;
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

.sideBar-main {
    padding: 0 !important;
}

.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-name {
    padding: 10px !important;
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    padding: 10px !important;
}

.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}

/*New Message*/

.newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
}

.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}

.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
}

.newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
}

.newMessage-back i {
    margin: auto !important;
}

.composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
}

.message {
    padding: 0 !important;
    margin: 0 !important;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.message-previous {
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
}

.previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
}

.previous a {
    text-decoration: none;
    font-weight: 700;
}

.message-body {
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
}

.message-main-receiver {
    /*padding: 10px 20px;*/
    max-width: 60%;
}

.message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap: break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important;
}

.message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;

}

.receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    word-wrap: break-word;
    display: inline-block;
}

.sender {
    float: right;
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
}


/*Reply*/

.reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply-emojis {
    padding: 5px !important;
}

.reply-emojis i {
    text-align: center;
    padding: 5px 5px 5px 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 5px !important;
}

.reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-send {
    padding: 5px !important;
}

.reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-main {
    padding: 2px 5px !important;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

@media screen and (max-width: 700px) {
    .app {
        top: 0;
        height: 100%;
    }

    .heading {
        height: 70px;
        background-color: #009688;
    }

    .fa-2x {
        font-size: 2.3em !important;
    }

    .heading-avatar {
        padding: 0 !important;
    }

    .heading-avatar-icon img {
        height: 50px;
        width: 50px;
    }

    .heading-compose {
        padding: 5px !important;
    }

    .heading-compose i {
        color: #fff;
        cursor: pointer;
    }

    .heading-dot {
        padding: 5px !important;
        margin-left: 10px !important;
    }

    .heading-dot i {
        color: #fff;
        cursor: pointer;
    }

    .sideBar {
        height: calc(100% - 130px);
    }

    .sideBar-body {
        height: 80px;
    }

    .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important;
    }

    .avatar-icon img {
        height: 55px;
        width: 55px;
    }

    .sideBar-main {
        padding: 0 !important;
    }

    .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important;
    }

    .sideBar-name {
        padding: 10px 5px !important;
    }

    .name-meta {
        font-size: 16px;
        padding: 5% !important;
    }

    .sideBar-time {
        padding: 10px !important;
    }

    .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }

    /*Conversation*/
    .conversation {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        /*width: 100%;*/
        border-left: 1px solid rgba(0, 0, 0, .08);
        /*overflow-y: auto;*/
    }

    .message {
        height: calc(100% - 140px);
    }

    .reply {
        height: 70px;
    }

    .reply-emojis {
        padding: 5px 0 !important;
    }

    .reply-emojis i {
        padding: 5px 2px !important;
        font-size: 1.8em !important;
    }

    .reply-main {
        padding: 2px 8px !important;
    }

    .reply-main textarea {
        padding: 8px !important;
        font-size: 18px;
    }

    .reply-recording {
        padding: 5px 0 !important;
    }

    .reply-recording i {
        padding: 5px 0 !important;
        font-size: 1.8em !important;
    }

    .reply-send {
        padding: 5px 0 !important;
    }

    .reply-send i {
        padding: 5px 2px 5px 0 !important;
        font-size: 1.8em !important;
    }
}