
.w3-button {
    border: none;
    display: inline-block;
    padding: 3px 110px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}


body {
    margin: 0;
    padding: 0;
    background: #002b36;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div {
    float: right;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.2;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.middle {
    display: flex;
    width: 300px;
    position: relative;
    bottom: 10px;

}

.clearfix {
    *zoom: 1;
}

/*&*/
:before,

/*&*/
:after {
    content: ' ';
    display: table;
}

/*&*/
:after {
    clear: both;
}


.container {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vl {
    position: relative;
    left: 75%;
    top: -130px;
    border: 1px solid #ddd;
    height: 250px;
}

.w3-display-left {
    position: relative;
    top: 80px;
    left: 140px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 950px;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #199aff;
}

a:active {
    text-decoration: none;
    color: #199aff;
}