.w3-card {
    overflow: hidden;
    width: 46.5%;
    position: relative;
    left: 20px;
    color: #ffffff;
}



.w3-button {
    border: none;
    display: inline-block;
    padding: 5px 45.5%;
    vertical-align: top;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    left: 20px;
}


body {
    margin: 0;
    padding: 0;
    background: #002b36;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

h1{
     position: relative;
  left: 20%;
}