.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial, serif;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

main {
    padding: 0 1%;
    margin-left: 190px;
}








/*body {*/
    /*background-color: #F5F4F5;*/
/*}*/

/*.columns {*/
    /*-webkit-column-count: 3;*/
    /*-webkit-column-gap: 2rem;*/
    /*-moz-column-count: 3;*/
    /*-moz-column-gap: 1.5rem;*/
    /*padding: 1em;*/
    /*margin: 1em;*/
/*}*/

/*.cards {*/
    /*background-color: white;*/
    /*!*margin-bottom: 1em;*!*/
    /*margin: 0 0.5em 1.5em;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-shadow: 1px 2px 3px #ccc;*/
    /*display: block;*/
    /*-webkit-column-break-inside: avoid;*/
    /*transition: box-shadow ease-in-out 0.2s;*/
/*}*/

/*.cards:hover {*/
    /*box-shadow: 2px 3px 10px #ccc;*/
/*}*/

/*.card-head {*/
    /*min-height: 7em;*/
    /*background: #24C6DC; */
    /*background: -webkit-linear-gradient(to left, #24C6DC, #514A9D); */
    /*background: linear-gradient(to left, #24C6DC, #514A9D); */
/*}*/

/*.card-text {*/
    /*padding: 1em;*/
/*}*/

/*img {*/
    /*width: 100%;*/
    /*height: 90px;*/
    /*display: block;*/
/*}*/