{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="../static/css/bar.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
    <title>{% block title %}Home{% endblock %}</title>

</head>

<body>
<div class="w3-row">
    <div class="header">
        <div class="w3-bar" style="height: 65px">
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>
        </div>
        <div class="w3-sidebar">
            <ul>
                <li><img src="/static/img/lika.png" alt="Avatar"></li>
                <li><a href="/">Dashboard</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="{% url 'student:class' %}">Student</a></li>
                <li><a href="{% url 'student:chat' %}">Messages</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">About</a></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="w3-main">
    <div class="container">
        <br><br>
    </div>
</div>


<div class="w3-container">
    <div class="w3-center">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="container">

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Welcome</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Hello!</p>
                    <p>This is a system that is the act of managing attendance or presence of student in a High School.</p>
                    <p>Student management system is a management information system for education establishments to manage student data.
                        Student information systems provide capabilities for registering students in courses; documenting grading, transcripts,
                        results of student tests and other assessment scores; building student schedules; tracking student attendance;
                        and managing many other student-related data needs in a school.</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>

{# <span class="icon"></span>#}
{#             <img src="{% static 'svg/delete1.svg' %}" alt="">#}

{#<i class="fa fa-address-card-o" style="float:right;" aria-hidden="true"></i>#}