{% extends 'base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bar.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bar.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.1.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js/bar.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
    <title>Login</title>
</head>
{% block title %}Home{% endblock %}
<body>

{% block content %}
    {% if user.is_authenticated %}
        <div class="w3-row" style="height: 200px;">
            <div class="header">
                <h1>Welcome back {{ user.username }}!</h1>
            </div>
        </div>
    {% else %}

    {% endif %}

{% endblock %}

</body>
</html>
