{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/static/css/bar.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/lika.png' %}">
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.1.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <script src="{% static 'js/jquery_ajax.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/student.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
    <title>{% block title %}Class{% endblock %}</title>
</head>
<body>
<div class="w3-row">
    <div class="header">
        <div class="w3-bar" style="height: 65px">
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-right">Logout</a>
        </div>
        <div class="w3-sidebar">
            <ul>
                <li><img src="/static/img/lika.png" alt="Avatar"></li>
                <li><a href="/">Dashboard</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="{% url 'student:class' %}">Student</a></li>
                <li><a href="{% url 'student:chat' %}">Messages</a></li>
                <li><a href="#">About</a></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="w3-center">
    <div class="w3-container">
        <a class="btn w3-black" href="{% url 'student:class' %}">Class Table</a>
        <a class="btn w3-blue-grey " href="{% url 'student:card' %}">Class Card</a>
    </div>
</div>
{% block content %}

    <br><br>
    <div style="margin-left: 10%">
        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div>
                    <a class="w3-btn w3-right w3-blue w3-round" style=" height: 35px; margin-right: 10px; font-size:18px;" href="{% url 'student:add' %}"><i class='far fa-edit'></i></a>
                    <h5 class="card-header">Class</h5>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">Image</th>
                                <th class="border-0">Student Name</th>
                                <th class="border-0">Student Id</th>
                                <th class="border-0">Subject</th>
                                <th class="border-0">Date</th>
                                <th class="border-0">Class Time</th>
                                <th class="border-0">Teacher</th>
                                <th class="border-0">Class</th>
                                <th class="border-0">Status</th>
                                <th class="border-0">Update</th>
                                <th class="border-0">Delete</th>
                                <th class="border-0 w3-center">Student Profile</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}

                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <div class="m-r-10"><i class='fas fa-user-graduate' style='font-size:30px; position: relative; left: 10%; '></i></div>
                                    </td>
                                    {#                                    <td>{{ student.image }}</td>#}
                                    <td>{{ student.student_name }}</td>
                                    <td>{{ student.student_id }}</td>
                                    <td>{{ student.subject }}</td>
                                    <td>{{ student.date }}</td>
                                    <td>{{ student.class_time }}</td>
                                    <td>{{ student.teacher }}</td>
                                    <td>{{ student.class_number }}</td>
                                    <td>{{ student.status }}</td>
                                    <td><a class="w3-btn w3-left w3-blue w3-round" style="height: 35px; font-size:18px;" href="{% url 'student:update' student.id %}"><i class="fas fa-pen" aria-hidden="true"></i></a></td>
                                    <td><a class="w3-btn w3-left w3-blue w3-round" style="height: 35px; font-size:18px;" href="{% url 'student:delete' student.id %}"><i class="	far fa-trash-alt"></i></a></td>
                                    <td colspan="12">
                                        <div class="quickViewTrigger">View Details</div>
                                        <!--Hidden-->
                                        <div class="quickViewContainer" style="display: none;">
                                            <div id="quickViewCloseButton" class="close" style="margin-right: 10px">
                                                <span></span>
                                            </div>
                                            <br><br>
                                            <i class='fas fa-user-graduate' style='font-size:36px; position: relative; left: 45%; '></i>
                                            <hr>
                                            <div class="quickViewTitle">{{ student.student_name }}</div>
                                            <div class="quickViewBody">
                                                Student ID: {{ student.student_id }}
                                                <hr>
                                                Father's Name:
                                                <hr>
                                                Birthday:
                                                <hr>
                                                Birthplace:
                                                <hr>
                                                Phone Number:
                                                <hr>
                                                Email:
                                                <hr>
                                                Address:
                                                <hr>
                                                Class: {{ student.class_number }}
                                                <hr>
                                                <a class="w3-btn w3-right w3-blue w3-round" style="height: 35px; font-size:18px;" href="{% url 'student:profile-update' student.id %}"><i class="fas fa-pen" aria-hidden="true"></i></a>
                                                <br><br>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-card-4" style="margin-left: 78%; width: 21%; margin-top: -13.5%;">
        <header class="w3-container w3-light-grey">
            <i class='fas fa-user-graduate'></i>
            <h3>{{ students.first }}</h3>
        </header>
        <div class="w3-container">
            <hr>
            Student ID:
            <hr>
            Subject:
            <hr>
            Class
            <hr>

        </div>
    </div>

{% endblock %}
</body>
</html>

{# <span class="icon"></span>#}
{#             <img src="{% static 'svg/delete1.svg' %}" alt="">#}

{#<i class="fa fa-address-card-o" style="float:right;" aria-hidden="true"></i>#}


{#cards with social icons#}
{#<div class="box">#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Instagram</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Twitter</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Facebook</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Pinterest</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Google</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">#}
{##}
{#                <div class="box-part text-center">#}
{##}
{#                    <i class="fa fa-github fa-3x" aria-hidden="true"></i>#}
{##}
{#                    <div class="title">#}
{#                        <h4>Github</h4>#}
{#                    </div>#}
{##}
{#                    <div class="text">#}
{#                        <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>#}
{#                    </div>#}
{##}
{#                    <a href="#">Learn More</a>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}


{##}
{#<div class="quickViewContainer" style="display: none;">#}
{#                                            <div id="quickViewCloseButton" class="close" style="margin-right: 10px">#}
{#                                                <span></span>#}
{#                                            </div>#}
{#                                            <br><br>#}
{#                                            <i class='fas fa-user-graduate' style='font-size:36px; position: relative; left: 45%; '></i>#}
{#                                            <hr>#}
{#                                            <div class="quickViewTitle">{{ student.student_name }}</div>#}
{#                                            <div class="quickViewBody">#}
{#                                                <table class="table">#}
{#                                                    <thead class="bg-light">#}
{#                                                    <tr class="border-0">#}
{#                                                        <th class="border-0">#</th>#}
{#                                                        <th class="border-0">Image</th>#}
{#                                                        <th class="border-0">Student Name</th>#}
{#                                                        <th class="border-0">Student Id</th>#}
{#                                                        <th class="border-0">Father's Name</th>#}
{#                                                        <th class="border-0">Birthday</th>#}
{#                                                        <th class="border-0">Birthplace</th>#}
{#                                                        <th class="border-0">Phone Number</th>#}
{#                                                        <th class="border-0">Email</th>#}
{#                                                        <th class="border-0">Address</th>#}
{#                                                        <th class="border-0">Class</th>#}
{#                                                    </tr>#}
{#                                                    </thead>#}
{#                                                    <tbody>#}
{#                                                    {% for detail in details %}#}
{#                                                        <tr>#}
{#                                                            <td>{{ forloop.counter }}</td>#}
{#                                                            <td>#}
{#                                                        <tr>#}
{#                                                            <td>{{ detail.student_id }}</td>#}
{#                                                            <td>{{ detail.birthday }}</td>#}
{#                                                            <td>{{ detail.birthplace }}</td>#}
{#                                                            <td>{{ detail.phone }}</td>#}
{#                                                            <td>{{ detail.email }}</td>#}
{#                                                            <td>{{ detail.address }}</td>#}
{#                                                            <td>{{ detail.class }}</td>#}
{#                                                        </tr>#}
{#                                                    {% endfor %}#}
{#                                                    </tbody>#}
{#                                                    Student ID: {{ student.student_id }}#}
{#                                                    <hr>#}
{#                                                    Father's Name: {{ detail.father_name }}#}
{#                                                    <hr>#}
{#                                                    Birthday: {{ detail.birthday }}#}
{#                                                    <hr>#}
{#                                                    Birthplace:#}
{#                                                    <hr>#}
{#                                                    Phone Number:#}
{#                                                    <hr>#}
{#                                                    Email:#}
{#                                                    <hr>#}
{#                                                    Address:#}
{#                                                    <hr>#}
{#                                                    Class: {{ student.class_number }}#}
{#                                                    <hr>#}
{#                                                    <a class="w3-button w3-right w3-blue w3-round" style="height: 35px" href="{% url 'student:details-update' student.id %}">Update</a>#}
{#                                                    <br><br>#}
{#                                                </table>#}